.FormFusion {
  --error: #da344d;
  --text: #000000bf;
  --text-secondary: #000000ab;
  --text-disabled: #00000073;
  --border-color: #d3d3d3;
  --border-focus-color: #023e8a;
  --border-disabled-color: #d3d3d357;
  --border-radius: 3px;
  --input-padding: 0.7em 1em;
  --field-background: #ffffff;
  --field-background-light: #f1f1f1;

  --checkbox-color: #ffffff;
  --checkbox-background: #023e8a;
}

.FormFusion-Input__root,
.FormFusion-Textarea__root,
.FormFusion-Select__root {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.FormFusion-Input__root__field,
.FormFusion-Textarea__root__field,
.FormFusion-Select__root__control {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  padding: var(--input-padding);
  font-size: inherit;
  background-color: var(--field-background);
}

.FormFusion-Input__root__error,
.FormFusion-Textarea__root__error,
.FormFusion-Select__root__error {
  font-size: small;
  color: var(--error);
}

.FormFusion-Input__root__field:hover,
.FormFusion-Textarea__root__field:hover {
  border: 1px solid var(--border-focus-color);
}

.FormFusion-Input__root__field:focus,
.FormFusion-Textarea__root__field:focus,
.FormFusion-Select__root__control:focus {
  border: 1px solid var(--border-focus-color);
  outline: none;
}

.FormFusion-Input__root__field::placeholder,
.FormFusion-Textarea__root__field::placeholder {
  color: var(--text-disabled);
}

.FormFusion-Input__root__field:disabled,
.FormFusion-Input__root__field:disabled:hover,
.FormFusion-Input__root__field:disabled:focus,
.FormFusion-Textarea__root__field:disabled,
.FormFusion-Textarea__root__field:disabled:hover,
.FormFusion-Textarea__root__field:disabled:focus {
  border: 1px solid var(--border-disabled-color);
  color: var(--border-color);
}

.FormFusion-Input__root__field[aria-invalid='true']:not(:focus),
.FormFusion-Textarea__root__field[aria-invalid='true']:not(:focus),
.FormFusion-Select__root__control--error {
  border: 1px solid var(--error);
}

.FormFusion-Input__root__label,
.FormFusion-Textarea__root__label,
.FormFusion-Select__root__label {
  font-size: medium;
  width: fit-content;
}

/* Chrome, Safari, Edge, Opera */
.FormFusion-Input__root__field::-webkit-outer-spin-button,
.FormFusion-Input__root__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.FormFusion-Input__root__field[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.FormFusion-Input__root__field__helper-text,
.FormFusion-Select__root__field__helper-text {
  font-size: small;
  color: var(--text-secondary);
}

.FormFusion-Input__root__field--checkbox {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.FormFusion-Input__root__field--checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.FormFusion-Input__root__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: var(--border-color);
  border-radius: var(--border-radius);
}

.FormFusion-Input__root__field--checkbox:hover
  input
  ~ .FormFusion-Input__root__checkmark {
  background-color: #ccc;
}

.FormFusion-Input__root__field--checkbox
  input:checked
  ~ .FormFusion-Input__root__checkmark {
  background-color: var(--checkbox-background);
}

.FormFusion-Input__root__field--checkbox
  input:disabled
  ~ .FormFusion-Input__root__checkmark {
  background-color: var(--border-disabled-color);
  cursor: not-allowed;
}

.FormFusion-Input__root__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.FormFusion-Input__root__field--checkbox
  input:checked
  ~ .FormFusion-Input__root__checkmark:after {
  display: block;
}

.FormFusion-Input__root__field--checkbox
  .FormFusion-Input__root__checkmark:after {
  left: 0.35em;
  top: 0.25em;
  width: 0.1em;
  height: 0.3em;
  border: solid var(--checkbox-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.FormFusion-Select__root {
  position: relative;
}

.FormFusion-Select__root__control {
  cursor: pointer;
}

.FormFusion-Select__root__menu__list {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--field-background);
  z-index: 1000;
  margin-top: 0.5em;
  padding: 0;
  list-style-type: none;
}

.FormFusion-Select__root__menu__option {
  padding: var(--input-padding);
  cursor: pointer;
}

.FormFusion-Select__root__menu__option:hover,
.FormFusion-Select__root__menu__option--highlighted {
  background-color: var(--field-background-light);
}
